footer {
  text-align: center;
  margin-top: 50px;
}

.social-container {
  background-color: #89CFF0;
  display: flex;
  flex-direction: row;
  padding-right: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.social {
  display: flex;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copy {
  margin-top: 100px;
}
.p1 {
  font-size: x-large;
  background-color:#89CFF0;
  color: white;
  padding-top: 0px;
  padding-left: 0px;
  margin-bottom: 0px;
}
.p2 {
  background-color: #89CFF0;
  color: white;
  text-align: center;
  font-size: smaller;
  margin-bottom: 0px;
  height: 0px;
}

.outer-container {
  display: flex;
  flex-direction: column;
  gap: 5vh;
  background-color: #89CFF0;
}